<div class="row">
  <div class="col-md-12">
    <%= react_component('UploadForm', {version: '1.0.27', upload_url: upload_path}) %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <%= react_component('CheckTable', {
                                            checks: @steps.map { |step| {id: step.id, name: step.name, command: step.command} },
                                            live_url: messaging_path
                                    }) %>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <%= react_component('CheckResult') %>
  </div>
</div>

