<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">iOS Summary</div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Testrun</th>
          <th>Device count</th>
          <th>Duration</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>

        <% testrun_types.each do |testrun_type| %>
            <tr>
              <td>
                <%= testrun_type.details %>
              </td>
              <td>
                <%= testrun_type.testruns.count %>
              </td>
              <td>
                <%= ChronicDuration.output(testrun_type.duration) %>
              </td>
              <td>
                <%= testrun_type.status %>
              </td>
            </tr>
        <% end %>

        <tr>
          <td>
            Total
          </td>
          <td><%= testrun_types.map { |t| t.testruns.count }.sum %></td>
          <td><%= ChronicDuration.output(testrun_types.map { |t| t.duration }.sum) %></td>
          <td></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>