<%# render partial: 'badges', locals: {testruns: testruns_android} %>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= TestrunType.emulator_android_4_3.name %></div>
      <%= render partial: 'shared/table', locals: {testruns: testruns_4_3} %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= TestrunType.emulator_android_4_4.name %></div>
      <%= render partial: 'shared/table', locals: {testruns: testruns_4_4} %>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= TestrunType.emulator_android_5_0.name %></div>
      <%= render partial: 'shared/table', locals: {testruns: testruns_5_0} %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= TestrunType.emulator_android_5_1.name %></div>
      <%= render partial: 'shared/table', locals: {testruns: testruns_5_1} %>
    </div>
  </div>

</div>