<div class="row">
  <div class="col-sm-1 col-md-1 sidebar">
    <%= render partial: 'shared/sidebar', locals: {active: 'android'} %>
  </div>

  <div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
    <h1 class="page-header">Android</h1>

    <div class="row">

      <div class="col-md-12">
        <%= render partial: 'smoke', locals: {
                                           testruns_android: @testruns_android,
                                           testruns_4_3: @testruns_emulator_android_4_3,
                                           testruns_4_4: @testruns_emulator_android_4_4,
                                           testruns_5_0: @testruns_emulator_android_5_0,
                                           testruns_5_1: @testruns_emulator_android_5_1} %>
      </div>

    </div>

  </div>

</div>