<% if flash[:alert].present? %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible m-b-none" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <strong>Danger!</strong>

          <% if flash[:alert].class.name == "Array" %>
              <%= flash[:alert].join(',') %>
          <% else %>
              <%= flash[:alert] %>
          <% end %>

        </div>
      </div>
    </div>
<% end %>