<% if flash[:notice].present? %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info alert-dismissible m-b-none" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
<% end %>