<div class="row">
  <div class="col-md-12">
    <%= react_component('QueueTable', {
                                            jobs: @jobs.map { |job| {
                                                    id: job.id,
                                                    name: job.name,
                                                    current_job_name: job.current_job_name,
                                                    status: job.status,
                                                    start_at: job.start_at,
                                                    duration: job.duration,
                                                    scenario_name: job.scenario_name,
                                                    node_name: job.node_name
                                            } },
                                            unschedule_url: api_v1_job_unschedule_path
                                    }) %>
  </div>
</div>