<div class="row">
  <div class="col-sm-1 col-md-1 sidebar">
    <%= render partial: 'shared/sidebar', locals: {active: 'api'} %>
  </div>

  <div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
    <h1 class="page-header">API</h1>

    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><%= TestrunType.api.name %></div>
          <%= render partial: 'shared/table', locals: {testruns: @testruns_api} %>
        </div>
      </div>

    </div>
  </div>

</div>