<div class="row">

  <div class="col-lg-4 col-md-4">
    <% if failed_scenarios(testruns) == 0 and total_scenarios(testruns) > 0 %>
        <div class="panel panel-success">
    <% else %>
        <div class="panel panel-danger">
    <% end %>

    <div class="panel-heading">
      <div class="row">

        <div class="col-xs-6">
          <h5>Failed scenarios</h5>
        </div>

        <div class="col-xs-6 text-right">
          <h4>
            <%= failed_scenarios(testruns) %>
            /
            <%= total_scenarios(testruns) %>
          </h4>
        </div>

      </div>
    </div>

    </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-6">
              <h5>Duration</h5>
            </div>

            <div class="col-xs-6 text-right">
              <h4><%= total_duration(testruns) %></h4>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-10">
              <h4>iOS infrastructure is available for last 5 minutes</h4>
            </div>

            <div class="col-xs-2 text-right">

              <% if Infrastructure.available_last_5_minutes? %>
                  <h4>YES</h4>
              <% else %>
                  <h4>NO</h4>
              <% end %>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
