<ul class="nav nav-sidebar">
  <% if active.downcase == 'ios' %>
      <li class="active">
  <% else %>
      <li>
  <% end %>
  <%= link_to 'iOS', ios_path %>
  </li>

  <% if active.downcase == 'android' %>
      <li class="active">
  <% else %>
      <li>
  <% end %>
  <%= link_to 'Android', android_path %>
  </li>

  <% if active.downcase == 'api' %>
      <li class="active">
  <% else %>
      <li>
  <% end %>

  <%= link_to 'API', api_path %>
  </li>
</ul>