<table class="table table-striped">
  <thead>
  <tr>
    <th>Testrun</th>
    <th>Last run at</th>
    <th>Last duration</th>
    <th>Status</th>
    <th>Running now</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% testruns.each do |testrun| %>
      <tr>
        <td style="vertical-align: middle; width: 90px">
          <%= testrun.details %>
        </td>
        <td style="vertical-align: middle; width: 150px;">
          <%= testrun.last_run_at %>
        </td>
        <td style="vertical-align: middle; width: 175px;">
          <%= testrun.duration %>
        </td>
        <td style="vertical-align: middle; width: 125px;">
          <%= testrun.status %>
        </td>
        <td style="vertical-align: middle; width: 120px;">
          <%= testrun.running_now %>
        </td>

        <td style="vertical-align: middle; width: 125px;">
          <%= testrun.action_button %>
        </td>
      </tr>
  <% end %>

  <tr>
    <td>
      Total
    </td>
    <td></td>
    <td><%= total_duration(testruns) %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  </tbody>
</table>