<div class="xunit b-island tab-content-fill" pane-set>
    <div class="pane_col" pane pane-expanded="isState('home')">
        <div class="pane_overlay clickable" ui-sref="home.testsuite"></div>
        <div class="pane_content">
            <ng-include src="'/allure/templates/xUnit/testrun.html'"></ng-include>
        </div>
    </div>
    <div class="pane_col" pane ng-if="testsuite" pane-expanded="isState('home.testsuite.expanded')">
        <div class="pane_overlay clickable" ui-sref="home.testsuite.testcase"></div>
        <div class="pane_content">
            <ng-include src="'/allure/templates/xUnit/testsuite.html'"></ng-include>
        </div>
    </div>
    <div ui-view="testcase"></div>
</div>