<!doctype html>
<html lang="en" ng-app="allure">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <title>autoqa.mimedia</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/allure/css/app.css"/>

  <script src="/allure/vendor/jquery/jquery-2.0.3.min.js"></script>
  <script src="/allure/vendor/d3/d3.v3.min.js"></script>

  <script src="/allure/vendor/angular/angular.js"></script>
  <script src="/allure/vendor/angular/angular-animate.js"></script>
  <script src="/allure/vendor/angular/plugins/angular-ui-router.min.js"></script>
  <script src="/allure/vendor/angular/plugins/localstorageprovider.js"></script>
  <script src="/allure/vendor/angular/plugins/ui-bootstrap-tpls.js"></script>

  <script src="/allure/vendor/highlight.pack.js"></script>

  <script src="/allure/vendor/filesize.js"></script>

  <script src="/allure/js/app.js"></script>
  <script src="/allure/js/services.js"></script>
  <script src="/allure/js/controllers.js"></script>
  <script src="/allure/js/filters.js"></script>
  <script src="/allure/js/directives.js"></script>
  <script src="/allure/js/table/table.js"></script>
  <script src="/allure/js/pane/pane.js"></script>
  <script src="/allure/js/overview/OverviewCtrl.js"></script>
  <script src="/allure/js/xUnit/controllers.js"></script>
  <script src="/allure/js/testcase/statusSwitcher.js"></script>
  <script src="/allure/js/testcase/provider.js"></script>
  <script src="/allure/js/testcase/testcase.js"></script>
  <script src="/allure/js/testcase/list.js"></script>
  <script src="/allure/js/features/FeaturesCtrl.js"></script>
  <script src="/allure/js/defects/defects.js"></script>
  <script src="/allure/js/charts/charts.js"></script>
  <script src="/allure/js/charts/pie.js"></script>
  <script src="/allure/js/charts/timeline.js"></script>
  <script src="/allure/js/charts/duration.js"></script>
  <script src="/allure/js/charts/severityMap.js"></script>
  <script src="/allure/js/scrollfix/scrollfix.js"></script>
</head>
<body class="b-page">
<header class="b-page__nav navbar navbar-static-top" role="navigation" ng-controller="NavbarCtrl">
  <div class="nav navbar-header">
    <a class="navbar-brand" href="/">Main</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown feedback">
      <a class="clickable" dropdown-toggle>Provide Feedback <b class="caret"></b></a>

      <div class="b-popup b-island b-island_mode_fly b-popup_show_bottom-center" role="menu">
        <div class="b-popup__content">
          <a class="feedback_item" target="_blank"
             href="https://github.com/allure-framework/allure-core/wiki/FAQ-and-Troubleshooting">FAQ</a>
          <a class="feedback_item" target="_blank"
             href="https://github.com/allure-framework/allure-core/issues/new">GitHub</a>
          <a class="feedback_item" href="mailto:allure@yandex-team.ru">Mail list</a>
        </div>
        <div class="b-popup__tail"></div>
      </div>
    </li>
  </ul>
  <div class="nav navbar-text navbar-right">
    Version: 1.4.0
  </div>
  <div class="nav navbar-text navbar-right">
    Data size: {{report.size | filesize}}
  </div>
  <div class="nav navbar-text navbar-right">
    Generated in: {{report.time | time}}
  </div>
</header>
<div class="dashboard" ng-controller="TabsController">
  <ul class="b-vert list-unstyled">
    <li class="b-vert__item" ng-class="{'b-vert__item_state_selected': isCurrent('overview')}">
      <div class="b-vert__title" ui-sref="overview">
        <div class="b-vert__icon glyphicon glyphicon-home"></div>
        Overview
      </div>
    </li>
    <li class="b-vert__item" ng-class="{'b-vert__item_state_selected': isCurrent('defects')}">
      <div class="b-vert__title" ui-sref="defects">
        <div class="b-vert__icon glyphicon glyphicon-flag"></div>
        Defects
      </div>
    </li>
    <li class="b-vert__item" ng-class="{'b-vert__item_state_selected': isCurrent('home')}">
      <div class="b-vert__title" ui-sref="home">
        <div class="b-vert__icon glyphicon glyphicon-briefcase"></div>
        xUnit
      </div>
    </li>
    <li class="b-vert__item" ng-class="{'b-vert__item_state_selected': isCurrent('features')}">
      <div class="b-vert__title" ui-sref="features">
        <div class="b-vert__icon glyphicon glyphicon-list"></div>
        Behaviors
      </div>
    </li>
    <li class="b-vert__item" ng-class="{'b-vert__item_state_selected': isCurrent('graph')}">
      <div class="b-vert__title" ui-sref="graph">
        <div class="b-vert__icon glyphicon glyphicon-stats"></div>
        Graph
      </div>
    </li>
    <li class="b-vert__item" ng-class="{'b-vert__item_state_selected': isCurrent('timeline')}">
      <div class="b-vert__title" ui-sref="timeline">
        <div class="b-vert__icon glyphicon glyphicon-time"></div>
        Timeline
      </div>
    </li>
  </ul>
  <div ui-view class="tab-content"></div>
</div>
<div class="alert alert-warning error-message" ng-show="error">
  <p>Your report seems to be broken! Check out <a
  href="https://github.com/allure-framework/allure-core/wiki/FAQ-and-Troubleshooting">our FAQ</a> to find a
    reason</p>

  <p>Message: {{error.message || error.status}}</p>
  <hr/>
  <p>Debug: {{error}}</p>
</div>
</body>
</html>