<div class="pane_col" ng-if="testcase" pane pane-expanded="isState('testcase.expanded')">
    <div class="pane_overlay clickable" ng-click="go('testcase.attachment')"></div>
    <div class="pane_content">
        <ng-include src="'/allure/templates/testcase/testcase.html'"></ng-include>
    </div>
</div>
<div class="pane_col" ng-if="attachment" pane pane-expanded="isState('testcase.attachment.expanded')">
    <div class="pane_content">
        <ng-include src="'/allure/templates/testcase/attachment.html'"></ng-include>
    </div>
</div>