<%= render partial: 'shared/badges', locals: {testruns: testruns_ios} %>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= TestrunType.simulator_ios_8_x.name %></div>
      <%= render partial: 'shared/table', locals: {testruns: testruns_simulator_8_x} %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= TestrunType.simulator_ios_9_x.name %></div>
      <%= render partial: 'shared/table', locals: {testruns: testruns_simulator_9_x} %>
    </div>
  </div>

</div>

<!--<div class="row">-->

  <!--<div class="col-md-6">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading"><%= TestrunType.device_ios_8_x.name %></div>-->
      <!--<%= render partial: 'shared/table', locals: {testruns: testruns_device_8_x} %>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-6">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading"><%= TestrunType.device_ios_9_x.name %></div>-->
      <!--<%= render partial: 'shared/table', locals: {testruns: testruns_device_9_x} %>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->