<div class="row">

  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#smoke_tests" aria-controls="smoke_tests" role="tab" data-toggle="tab">Smoke tests</a>
      </li>
      <li role="presentation">
        <a href="#queue" aria-controls="queue" role="tab" data-toggle="tab">Jenkins jobs queue</a></li>
      </li>
      <li role="presentation">
        <a href="#appstore_checks" aria-controls="appstore_checks" role="tab" data-toggle="tab">Appstore checks</a></li>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="smoke_tests">
        <br>
        <%= render partial: 'smoke', locals: {
                                           testruns_ios: @testruns_ios,
                                           testruns_simulator_8_x: @testruns_simulator_ios_8_x,
                                           testruns_simulator_9_x: @testruns_simulator_ios_9_x,
                                           testruns_device_8_x: @testruns_device_ios_8_x,
                                           testruns_device_9_x: @testruns_device_ios_9_x} %>

      </div>

      <div role="tabpanel" class="tab-pane" id="queue">
        <br>
        <%= render partial: 'ios/queue/index' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="appstore_checks">
        <br>
        <%= render partial: 'ios/appstore/index' %>
      </div>

    </div>

  </div>

</div>



