<!DOCTYPE html>
<html>
<head>
  <title>autoqa(mimedia)</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'autoqa(mimedia)', root_path, class: 'navbar-brand' %>
    </div>

  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <%= render partial: 'shared/flash/alert' %>
  <%= render partial: 'shared/flash/notice' %>
  <%= yield %>
</div>

</body>
</html>
